{% extends 'base.html.twig' %}

{% block content %}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen.id }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ examen.contenido }}</td>
            </tr>
            <tr>
                <th>Horariodiamateria</th>
                <td>{{ examen.horarioDiaMateria }}</td>
            </tr>
            <tr>
                <th>Promediable</th>
                <td>{% if examen.promediable %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{% if examen.fechaAlta %}{{ examen.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if examen.fechaModificacion %}{{ examen.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechabaja</th>
                <td>{% if examen.fechaBaja %}{{ examen.fechaBaja|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('examen_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('examen_edit', { 'id': examen.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
