{% extends 'base.html.twig' %}

{% block content %}
    
    <a href="{{ path('tutor_new') }}"><button type="button" class="btn btn-primary btn-sm">Crear nuevo</button></a>

    <table>    
        <thead>
            <tr>
                <div class="row">
                    <div class="col-sm-17"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">                           
                    </div>
                </div>
                <th><P ALIGN=center>Id</p></th>
                <th><P ALIGN=center>Nombre</p></th>
                <th><P ALIGN=center>Apellido</p></th>
                <th><P ALIGN=center>Dni</p></th>
                <th><P ALIGN=center>Direccion</p></th>
                <th><P ALIGN=center>Localidad</p></th>
                <th><P ALIGN=center>Nacionalidad</p></th>
                <th><P ALIGN=center>Fecha Nac</p></th>
                <th><P ALIGN=center>Telefono</p></th>
                <th><P ALIGN=center>Mail</p></th>
                <th><P ALIGN=center>Ocupacion</p></th>
                <th><P ALIGN=center>Sexo</p></th>
                <th><P ALIGN=center>Acciones</p></th>
            </tr>
        </thead>
        <tbody>
        {% for tutor in tutors %}
            <tr>
                <td><a href="{{ path('tutor_show', { 'id': tutor.id }) }}">{{ tutor.id }}</a></td>
                <td>{{ tutor.nombre }}</td>
                <td>{{ tutor.apellido }}</td>
                <td>{{ tutor.dni }}</td>
                <td>{{ tutor.direccion }}</td>
                <td>{{ tutor.localidad }}</td>
                <td>{{ tutor.nacionalidad }}</td>
                <td>{% if tutor.fechaNacimiento %}{{ tutor.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ tutor.telefono }}</td>
                <td>{{ tutor.mail }}</td>
                <td>{{ tutor.ocupacion }}</td>
                <td>{{ tutor.sexo }}</td>
                {#<td>{{ tutor.usuario }}</td>#}
                {#<td>{% if tutor.fechaAlta %}{{ tutor.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>{% if tutor.fechaModificacion %}{{ tutor.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>{% if tutor.fechaBaja %}{{ tutor.fechaBaja|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-flat">Acción</button>
                  <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('tutor_show', { 'id': tutor.id }) }}">Mostrar</a></li>
                    <li><a href="{{ path('tutor_edit', { 'id': tutor.id }) }}">Editar</a></li>
                  </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
