{% extends 'TeachingClassBundle:Bases:base.html.twig' %}
{% block stylesheets %}
<style media="screen">
  .content-header>h1{
    display: none;
  }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-3 col-md-offset-9" style="margin-bottom:10px">
      <a href="{{path('clase_didactica_inicio',{'id':clase.getMateria().getId()})}}" class="btn btn-primary pull-right"><i class="fa fa-mail-reply"></i> Volver</a>
    </div>
  </div>
<div class="row">

<div class="col-md-4">
  <div class="info-box">
    <span class="info-box-icon bg-aqua"><i class="fa fa-lock"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Código de Acceso</span>
      <span class="info-box-number" id="clave">{{clase.claveAcceso}}</span>
      <span class="info-box-text text-primary" id="hora_act"></span>

    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->


    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Datos de la clase</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body" >
        <table class="table table-condensed table-striped" id="tablaIncompleta">
          <thead>
            <th>N°</th>
            <th>Pregunta</th>
            <th>Tipo</th>
            <th></th>
          </thead>
          <tbody>
            {% for pregunta in clase.getPreguntas %}
                <tr>
                  <td>{{pregunta.id}}</td>
                  <td>{{pregunta.pregunta}}</td>
                  <td>{{pregunta.getTipoPregunta.tipo}}</td>
                  <td><button id="enviar" onclick="enviarPregunta({{pregunta.id}})" class="btn btn-primary btn-xs"><i class="fa fa-send "></i></button></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <!-- /.box -->

  </div>


<div class="col-md-8">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Pregunta en curso</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body" >

        {% if finalizado is defined %}
        <div class="col-md-6">
          <div id="donut-chart" style="height: 300px;"></div>
          {% if datos|length > 1%}
            {% for dato in datos['respuestas'] %}

            <div class="direct-chat-text">
               <span class="label label-success ">#{{dato[0][1]}}</span>  {{dato[0][0]}} <br>
            </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-6">
          <div id="donut-chart2" style="height: 300px;"></div>
        </div>
        {% endif %}

        <div id="mensaje">

        </div>
        <div class="col-md-6">
            <div class="box box-primary box-solid" id="collapsable">
              <div class="box-header with-border">
                <h3 class="box-title" id="pregunta"></h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <ul id="opciones">

                </ul>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->


        </ul>
      </div>

        <div class="col-lg-3 col-xs-6" id="cuenta">
        <!-- small box -->
        <div class="small-box bg-blue">
          <div class="inner">
            <h3 id="cantidad">0</h3>

            <p>Usuarios Contestaron</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <form action="{{path('finalizar_sesion')}}" method="post" id="finalizar">
            <input type="hidden" name="idPregunta" id="idPregunta"></input>
          </form>
          <a href="#" class="small-box-footer" onclick="document.getElementById('finalizar').submit();">

            Finalizar Sesión <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


{% endblock %}

{% block javascripts %}
<script>
  $("#cuenta").hide();
  $("#collapsable").hide();
</script>

<script>
function enviarPregunta(id){
    var id = id;
  $.ajax({
    url: '{{ path('enviar_pregunta') }}',
    type: 'POST',
    dataType: 'json',
    data: {request: id},
    success:function(d){
      var a = JSON.parse(d)
      var lista = a['opciones'];
      $("#pregunta").html(a[0]['pregunta']);
      $("#idPregunta").attr('value',a[0]['id']);
      $("#donut-chart").remove();
      $("#opciones").html("");
      for (var i = 0; i < lista.length; i++) {
        $("#opciones").append("<li>"+lista[i][1]+"</li>");
      }
      $("#cuenta").show();
      $("#collapsable").show();

      setInterval(function (){
        var id = a[0]['id'];
        $.ajax({
        url: '{{ path('consultar_cantidad_respuestas') }}',
        type: 'POST',
        dataType: 'json',
        data: {id: id},
        success:function(d){
          $("#cantidad").html(d);
        }

      });
    }      ,3000);
      $("#mensaje").html("<div class='form-group  hidden-xs col-md-12'><div class='callout callout-success'><h4>La sesión ha comenzado</h4> <p>  Se ha abierto una nueva sesión de preguntas y respuestas, seleccione finalizar cuando lo crea necesario</p>      </div> </div>");
    }
  });
}
</script>
{% if datos is not defined %}
{% set datos = [''] %}
{% endif %}

<script>

    /*
     * DONUT CHART
     * -----------
     */


    var donutData = [
      {% if datos|length > 1%}
        {% for dato in datos['respuestas'] %}
          {label: "Cantidad: {{dato['cantidad']}} <br> Pregunta: #{{dato[0][1]}}", data: '{{dato["cantidad"]}}' },
        {% endfor %}
      {% endif %}
    ];
    $.plot("#donut-chart", donutData, {
      series: {
        pie: {
          show: true,
          radius: 1,
          innerRadius: 0.5,
          label: {
            show: true,
            radius: 2 / 3,
            formatter: labelFormatter,
            threshold: 0.1
          }

        }
      },
      colors: ["#3c8dbc","#0073b7","#00c0ef","#d18b2c", "#dba255", "#919733"],
      legend: {
        show: false
      }
    });
    /*
     * END DONUT CHART
     */

/*
 * Custom Label formatter
 * ----------------------
 */
function labelFormatter(label, series) {
  return '<div style="font-size:13px; text-align:center; padding:2px; color: #000 ; font-weight: 600;">'
      + label
      + "<br>"
      + Math.round(series.percent) + "%</div>";
}
</script>

<script>
    /*
     * DONUT CHART
     * -----------
     */


    var donutData = [
      {% if datos|length > 1%}
          {label: "Correctas:  {{datos['cantRespuestas']['correctas']}}", data: '{{datos['cantRespuestas']['correctas']}}' },
          {label: "Incorrectas: {{datos['cantRespuestas']['incorrectas']}}  ", data: '{{datos['cantRespuestas']['incorrectas']}}' }

      {% endif %}
    ];
    $.plot("#donut-chart2", donutData, {
      series: {
        pie: {
          show: true,
          radius: 1,
          innerRadius: 0.5,
          label: {
            show: true,
            radius: 2 / 3,
            formatter: labelFormatter,
            threshold: 0.1
          }

        }
      },
      colors: ["#d18b2c", "#dba255", "#919733","#3c8dbc","#0073b7","#00c0ef"],
      legend: {
        show: false
      }
    });
    /*
     * END DONUT CHART
     */

/*
 * Custom Label formatter
 * ----------------------
 */
function labelFormatter(label, series) {
  return '<div style="font-size:13px; text-align:center; padding:2px; color: #000 ; font-weight: 600;">'
      + label
      + "<br>"
      + Math.round(series.percent) + "%</div>";
}
</script>

<script>
setInterval(function (){
  var clase = "{{clase.id}}"
  $.ajax({
  url: '{{ path('actualizar_codigo_clase') }}',
  type: 'POST',
  dataType: 'json',
  data: {id: clase},
  success:function(d){
    var tiempo = new Date();
    var hora = tiempo.getHours();
    var minuto = tiempo.getMinutes();
    var segundo = tiempo.getSeconds();
    str_hora = new String(hora);
    if (str_hora.length == 1) {
    hora = '0' + hora;
    }
    str_minuto = new String(minuto);
    if (str_minuto.length == 1) {
    minuto = '0' + minuto;
    }
    str_segundo = new String(segundo);
    if (str_segundo.length == 1) {
    segundo = '0' + segundo;
    }
    $("#clave").html(d);
    $("#hora_act").html('Última actualización: ' +hora+':'+minuto +':'+segundo );

  }

});
}, 1800000);
</script>


{% endblock %}
