{% extends 'base.html.twig' %}

{% block pageTitle %}
<h1>Bienvenido a la biblioteca en línea</h1>
{% endblock %}

{% block content %}
<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Últimos archivos subidos de {{materia.nombre}}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body" >
    {% if posts is empty %}
     <strong> Todavía no se ha subido contenidos en esta biblioteca...</strong>
    {% else %}
      <table class="table table-hover table-condensed table-stripped">
        <thead>
          <th>Título</th>
          <th>Fecha de Creación</th>
          <th></th>
        </thead>
        <tbody>
          {% for post in posts %}
              <tr>
                <td>
                  {{post.titulo}}
                </td>
                <td>{{post.fechaCarga | date('d-m-Y H:i')}}</td>
                <td><a href="{{path('post_show',{id:post.id})}}" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a></td>
              </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    {% endif %}

    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Últimos archivos descargados de {{materia.nombre}}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body" >



    </div>
  </div>
</div>

{% endblock %}
