{% extends 'base.html.twig' %}

{% block pageTitle %}Bienvenido a la Administracion de Años
{% endblock %}

{% block js %}

    <script type="text/javascript">
        
        $(document).ready(function() {
            $('#example2').DataTable();
        });
    </script>
    
{% endblock %}

{% block content %}


    <div class="col-md-10 col-md-offset-1" >
<div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Listado de Años</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body" >
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-7">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nivel</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for anio in anios %}
            <tr>
                <td>{{ anio.numero }}</td>
                <td>{{ anio.nivel }}</td>
                <td>{{ anio.descripcion }}</td>
                <td>
                     <a href="{{ path('anio_show', { 'id': anio.id }) }}">
                            Ver
                        </a>
                        
                        <br>
                        <a href="{{ path('anio_edit', { 'id': anio.id }) }}">
                            Editar
                        </a>
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="col-md-10">
    </br>
        <a class="btn btn-primary" href="{{ path('anio_new') }}">Crear Año</a>
        <a class="btn btn-primary" href="{{ path('curso_index') }}">Ver Cursos</a>
    </div>
{% endblock %}
