{% extends 'base.html.twig' %}

{% block contnet %}
    <h1>Anio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anio.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ anio.numero }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ anio.nivel }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ anio.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{% if anio.fechaAlta %}{{ anio.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechabaja</th>
                <td>{% if anio.fechaBaja %}{{ anio.fechaBaja|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if anio.fechaModificacion %}{{ anio.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('anio_edit', { 'id': anio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
